.resizeimage img { width: 100vw; }

.span-5{
    padding: 5px 25px 10px 5px;
    text-align: right;
}

.span-10 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 10px 3px 3px 3px;
    padding: 13px 3px 3px 3px;
}

.resizeimage img { width: 100vw; }

/*以下フェードイン表示の指定*/
.fadein {
    opacity: 0;
    animation: fadein 3s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}
 
/*以下遅延の指定*/
.row01 {animation-delay: 1s;}
.row02 {animation-delay: 1.1s;}
.row03 {animation-delay: 1.2s;}
.row04 {animation-delay: 1.3s;}
.row05 {animation-delay: 1.4s;}
.row06 {animation-delay: 1.5s;}
.row07 {animation-delay: 1.6s;}
.row08 {animation-delay: 1.7s;}
.row09 {animation-delay: 1.8s;}
.row10 {animation-delay: 1.9s;}
